@{
    ViewData["Title"] = "About";
}
<h2>Sobre</h2>

<p>Este sistema foi desenvolvido com o Microsoft Visual Studio 2017. Framework ASP.NET C# WEB CORE Application</p>
<p>Analista/Desenvolvedor: Fábio Borges</p>

