@{
    ViewData["Title"] = "Contact";
}
<h2>Contato</h2>

<address>
    <abbr title="Phone">Telefone:</abbr>
    +552198190-8709
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:oibafsegrob2@gmail.com">oibafsegrob2@gmail.com</a><br />
</address>
