@model ControleChamadosRedeSuporte.Models.ViewModel.UnidadeFormViewModel

@{
    ViewData["Title"] = "Adicionar um novo funcionário";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Funcionario.GraduacaoId" class="control-label"></label>
                <select asp-for="Funcionario.GraduacaoId" 
                asp-items="@(new SelectList(Model.Graduacaos, "Id", "Grad"))" 
                class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.Rg" class="control-label"></label>
                <input asp-for="Funcionario.Rg" class="form-control" />
                <span asp-validation-for="Funcionario.Rg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.Name" class="control-label"></label>
                <input asp-for="Funcionario.Name" class="form-control" />
                <span asp-validation-for="Funcionario.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.UnidadeId" class="control-label"></label>
                <select asp-for="Funcionario.UnidadeId" 
                asp-items="@(new SelectList(Model.Unidades, "Id", "Name"))" 
                class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.Tipo" class="control-label"></label>
                <select asp-for="Funcionario.Tipo" class="form-control"></select>
                <span asp-validation-for="Funcionario.Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

